/* Starter */
.footer{
    position: inherit;
}
/* Starter */
/* Header Event Start */
.header_event{
    background-image: url("../images/alicia_bg.png");
    background-size: cover;
    height: 100vh;
    margin-bottom: 100px;
}
.title_section{
    padding-top: 25%;
}
/* Header Event End */
/* Event Start */
.title_section{
    padding-top: 13% ;
}
.header_event{
    max-height: 50vh;
    overflow: hidden;
}
.event{
    padding: 0 100px;
}
.blog_1{
    margin: 20px;
    margin-bottom:150px;
    padding: 0px;
}
.event_s{
    margin: 50px 0;
}
.blog_content{
    background-color: white;
}
.blog_bg{
    height: 100%;
}
.blog_bg > img{
    width: 100%;
}
.blog_content{
    padding-right: 20px;
    min-width:340px;
}
.blog_bg > img{
    width:100%;
    transition: all 0.6s ease-in-out;
}
.blog_bg > img:hover{
    transform: matrix(1.08, 0, 0, 1.08, 15, 5);
}
@media only screen and (max-width:992px){
    .header_event{
        height: 60vh;
        margin-bottom: 200px;
    }
    .title_section{
        padding-top: 40%;
    }
    .event{
        padding: 0 20px;
    }
}
/* Event End */
