@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('../fonts/Dolce_Vita_Heavy_A_Few_Extra_Pounds.ttf'); */
@font-face {
    font-family: Dolce;
    src: url(../fonts/Dolce_Vita_Heavy_A_Few_Extra_Pounds.ttf);
  }
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
/* Yellow Btn */
  .btn-cont .btn {
    outline: none;
    position: relative;
    padding: 20px 40px;
    border: 1px solid #D18F4E;
    color: white;
    text-decoration: none;
    font-size: 1.125em;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
  }
  .btn-cont .btn:hover {
    border: none;
    color: white;
  }
  .btn-cont .btn:hover .line-1 {
    -webkit-animation: move1 1500ms  ease;
            animation: move1 1500ms  ease;
  }
  .btn-cont .btn:hover .line-2 {
    -webkit-animation: move2 1500ms  ease;
            animation: move2 1500ms  ease;
  }
  .btn-cont .btn:hover .line-3 {
    -webkit-animation: move3 1500ms  ease;
            animation: move3 1500ms  ease;
  }
  .btn-cont .btn:hover .line-4 {
    -webkit-animation: move4 1500ms  ease;
            animation: move4 1500ms  ease;
  }
  .btn-cont > .btn > .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #D18F4E;
    left: 0;
    bottom: 0;
  }
  .btn-cont > .btn > .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #D18F4E;
    left: 0;
    top: 0;
  }
  .btn-cont > .btn > .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: #D18F4E;
    right: 0;
    top: 0;
  }
  .btn-cont > .btn > .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: #D18F4E;
    right: 0;
    bottom: 0;
  }
  /* Yelow Btn */
  /* White Btn */
  .btn-cont .btn_white {
    outline: none;
    position: relative;
    padding: 20px 40px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 1.125em;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
  }
  .btn-cont .btn_white:hover {
    border: none;
    color: white;
  }
  .btn-cont .btn_white:hover .line-1 {
    -webkit-animation: move1 1500ms  ease;
            animation: move1 1500ms  ease;
  }
  .btn-cont .btn_white:hover .line-2 {
    -webkit-animation: move2 1500ms  ease;
            animation: move2 1500ms  ease;
  }
  .btn-cont .btn_white:hover .line-3 {
    -webkit-animation: move3 1500ms  ease;
            animation: move3 1500ms  ease;
  }
  .btn-cont .btn_white:hover .line-4 {
    -webkit-animation: move4 1500ms  ease;
            animation: move4 1500ms  ease;
  }
  .btn-cont > .btn_white > .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: white;
    left: 0;
    bottom: 0;
  }
  .btn-cont > .btn_white > .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: white;
    left: 0;
    top: 0;
  }
  .btn-cont > .btn_white > .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: white;
    right: 0;
    top: 0;
  }
  .btn-cont > .btn_white > .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: white;
    right: 0;
    bottom: 0;
  }
  /* White Btn */
  @-webkit-keyframes move1 {
    0% {
      height: 100%;
      bottom: 0;
    }
    54% {
      height: 0;
      bottom: 100%;
    }
    55% {
      height: 0;
      bottom: 0;
    }
    100% {
      height: 100%;
      bottom: 0;
    }
  }
  
  @keyframes move1 {
    0% {
      height: 100%;
      bottom: 0;
    }
    54% {
      height: 0;
      bottom: 100%;
    }
    55% {
      height: 0;
      bottom: 0;
    }
    100% {
      height: 100%;
      bottom: 0;
    }
  }
  @-webkit-keyframes move2 {
    0% {
      width: 0;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes move2 {
    0% {
      width: 0;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @-webkit-keyframes move3 {
    0% {
      height: 100%;
      top: 0;
    }
    54% {
      height: 0;
      top: 100%;
    }
    55% {
      height: 0;
      top: 0;
    }
    100% {
      height: 100%;
      top: 0;
    }
  }
  @keyframes move3 {
    0% {
      height: 100%;
      top: 0;
    }
    54% {
      height: 0;
      top: 100%;
    }
    55% {
      height: 0;
      top: 0;
    }
    100% {
      height: 100%;
      top: 0;
    }
  }
  @-webkit-keyframes move4 {
    0% {
      width: 0;
      right: 0;
    }
    55% {
      width: 100%;
      right: 0;
    }
    100% {
      width: 0;
      right: 100%;
    }
  }
  @keyframes move4 {
    0% {
      width: 0;
      right: 0;
    }
    55% {
      width: 100%;
      right: 0;
    }
    100% {
      width: 0;
      right: 100%;
    }
  }
/*  */
/* Parrallax Effect Start */
.main{
    position: relative;
    background-color: white;
    margin-bottom: 200px;
    z-index: 1000;
    box-shadow: 3px 2px 2px 0px rgba(51,51,51,0.5);
}
.footer{
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    z-index: -1;
}
@media only screen and (max-width:992px ){
    .main{
        margin-bottom: 150px;
    }
}
@media only screen and (max-width:767px ){
    .main{
        margin-bottom: 250px;
    }
    .footer{
        padding: 10px 0px;
        padding-top:50px;
    }
    .footer_section > h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
/* Parrallax Effect End */
/* Titles Start */
.title_section{
    padding-top: 5%;
    padding-bottom: 10px;
    text-align: center;
}
.title_section > p{
    font-family: Dolce;
    text-transform: uppercase;
    color: #D18F4E;
    font-size:25px;
    font-weight: 500;
    padding: 10px;
    letter-spacing: 3px;
    margin-bottom: 0;
}
.title_section_style{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.title_section_line > hr {
    border: 1px solid #511F10;
    width: 200px;
    margin-bottom: 20px;
}
.title_section_center > h2{
    font-family: Dolce;
    color: #6F080C;
    font-size:60px;
    font-weight: 100;
    padding: 0 50px;
    letter-spacing: 6px;
}
.title_section_line11{
    padding-right: 120px;
}
.title_section_line12{
    padding-left: 120px;
}
.title_section_line_sec21{
    padding-right: 50px;
}   
.title_section_line_sec22{
    padding-left: 50px;
}   

/* Titles End */
/* Header Start */
.carousel{
    position:relative;
}

.sup_navbar{
    position:absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 20px 0;
}
.sup_navbar_right{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 140px;
}
.sup_navbar_right_item_title{
    text-decoration: none;
    font-size:15px;
    font-weight: 400;
    text-decoration: underline;
    color:white;
    margin-left: 35px;
    cursor: pointer;
}
.sup_navbar_right_item_title:hover{
    color:#c8693a;
}
@media only screen and (max-width:767px ){
    .sup_navbar_right_item_title{
        margin-left: 15px;
    }
}
@media only screen and (max-width:1050px ){
    .title_section{
        padding-top: 0px;
    }
}
.navbar_right{
    position: relative;
}
#cart_number{
    position:absolute;
    color: white;
    top: 22%;
    left: 56.5%;
}
.navbar_right > img{
    width: 30px;
    height: 30px;
    margin-left: 35px;
    cursor: pointer;
}
.open_navbar{
    display: none;
    width: 40px;
    height: 40px;
}
.navbar_container{
    position: absolute !important;
    top: 70px;
    z-index: 101;
    width:100%;
}
.navbar{  
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 140px;
}
.navbar_center_links{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style-type:none;
    
    
}
.navbar_center_links > li{
    position: relative;
    margin-right: 70px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
}
.navbar_center_links > li:hover{
    border-bottom: 2px solid #D18F4E;
}
.navbar_center_links > li > a{
    text-decoration: none;
    font-size: 21px;
    color: white;
    font-weight: 400;
}
.navbar_center_links_visit_menu,
.navbar_center_links_collection_menu{
    display: block;
    position: absolute;
    top: 50px;
    left: -30px;
    padding: 30px;
    background-color: #F7F7F7;
    min-width: 220px;
    list-style: none;
    opacity: 0;
    transform: translateY(-100px);
    transition:0.2s ease-in-out;
}
.navbar_center_links_visit_menu_container:hover .navbar_center_links_visit_menu,
.navbar_center_links_collection_menu_container:hover .navbar_center_links_collection_menu{
    opacity: 1;
    transform: translateY(0px);
}
.navbar_center_links_visit_menu > li ,
.navbar_center_links_collection_menu > li {
    margin-bottom: 10px;
}
.navbar_center_links_visit_menu > li > a ,
.navbar_center_links_collection_menu > li > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #1F1917;
    cursor: pointer;
}
.navbar_center_links_visit_menu > li > a:hover ,
.navbar_center_links_collection_menu > li > a:hover {
    color: #c8693a;
}
.navbar_left > img{
    width: 192px;
}
.carousel-item{
    position:relative;
    width: 100%;
}
.carousel-item > img{
    filter: brightness(50%);
    width: 100%;
    min-height: 400px;
}
.carousel-caption{
    position:absolute;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    top: 53%;
    left: 50%;
    transform: translate(-15%,-50%);
}
.title_section_line1 > hr{
    border: 1px solid white;
    width: 200px;
    margin-bottom: 50px;
}
.title_section_center1 > h2{
    font-family: Dolce;
    color: white;
    font-size:60px;
    font-weight: 500;
    padding: 0 50px;
    letter-spacing: 6px;
    margin-bottom: 50px;
}
@media only screen and (max-width:1550px ){
    .navbar_center {
        display: none;
    }
    .navbar_right > .navbar_right_img{
        display: none;
    }
    .open_navbar{
        display: block;
    }
    #cart_number{
        display:none;
    }
}
@media only screen and (max-width:1000px ){
    .navbar_left > img {
        width: 100px;
    }
    .navbar_right > img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
}
@media only screen and (max-width:767px ){
    .navbar_left > img {
        width: 100px;
    }
    .navbar_right > img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    .title_section_line11,
    .title_section_line12{
        display: none !important;
    }
    .navbar{ 
        margin-top: -50px; 
        padding: 0 20px;
    }
    .sup_navbar{
        display: none;
    }
}
/* Header End */
/* Drawer Start */
.mobile_nav{
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: #efefef;
	max-width: 400px;
	width: 350px;
	height: 100vh;
    overflow: hidden;
	transform: translate(-100%, 0);
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out; 
}
.mobile_nav_content{
    height: 100%;
    position: relative;
}
.drawer_title{
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin-bottom: 5px;
    line-height: 1;
}
.drawer_title, 
.drawer_title2 {
    text-decoration: none;
    color: #1F1917;
}
.drawer_title2{
    font-size: 18px;
    font-weight: 400;
}
.visit_sub_menu:hover .sub_drawer{
    display: block;
}
.collection_sub_menu:hover .sub_drawer{
    display: block;
}
.drawer_title:hover,
.drawer_title2:hover
{
    color: #c8693a;
}
.sub_drawer{
    display: none;
    list-style: none;
    margin: 20px 0;
}
.drawer_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.drawer_left{
    position: relative;
    margin: 5px;
}
#cart_number_mobile{
    position: absolute;
    color: #1F1917;
    top: 25%;
    left: 52%;
}
.drawer_left > img {
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}
.drawer_right{
    margin: 5px;
}
.mobile_nav > .mobile_nav_content > h2{
	padding: 25px 20px;
    margin-top: 0;
    padding-top: 0;
}
.mobile-nav li a {
	color: #989AA4;
	display: block;
	padding: 15px 20px;
}
.mobile_one .mobile-nav li a:hover{
	background-color: #23252B;
	color: #fff;
}
.drawer_first_list{
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #D18F4E;
}
.drawer_first_list > li > h2 > a > img{
    height: 40px;
    width: auto;
    margin-bottom: 10px;
}
.drawer_first_list > li > h2 > a {
    height: 60px;
    width: auto;
    margin-bottom: 50px;
}
#close_drawer{
    border: none;
    outline: none;
    background: transparent;
    font-size: 30px;
    color: black;
    padding: 20px;
    width: 100%;
    margin-left: auto;
    text-align: right;
    margin: 0;
}
#close_drawer:hover{
    color: #c8693a;
}
.drawer_bottom{
    position: absolute;
    margin: 0 auto;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.drawer_bottom_follow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.drawer_bottom_follow > h6{
    text-align: center;
    font-size: 21px !important;
    margin-bottom: 20px;
}
.drawer_bottom > .drawer_bottom_follow > img {
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}
.drawer_before_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    margin-top: 20px;
    width: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #D18F4E;
}
.drawer_before_bottom > a{
    text-decoration: none;
    color: #1F1917;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 5px;
    /* border-bottom: 1px solid #D18F4E; */
    width: auto;
}
.drawer_before_bottom > a:hover{
    color: #c8693a;
    
}
/* Drawer End */

/* Button Special Start */
.btn-cont{
    background-color: transparent;
    text-align: center;
    
}
.btn_style{
    position: relative;
    text-decoration: none;
    color: white;
    border:none;
    border: 1px solid white;
    padding: 15px 40px;
    font-size: 21px;
    width: 200px;
    height: 70px;
    margin: 0 auto;
}
.btn_style:hover{
    color: white;  
}
.btn_style_about{
    background-color: transparent;
    color: #404343;
    border:none;
    border: 1px solid #D18F4E;
    padding: 10px 40px;
    font-size: 21px;
    width: 200px;
    height: 70px;
}
.btn_style_event_detail{
    background-color: transparent;
    color: #404343;
    border:none;
    border: 1px solid #D18F4E;
    padding: 10px 40px;
    font-size: 21px;
    width: 200px;
    height: 70px;
}
.btn_style_shop_header{
    background-color: transparent;
    color: white;
    border:none;
    border: 1px solid #D18F4E;
    padding: 10px 40px;
    font-size: 21px;
    width: 200px;
    height: 70px;
}
/* My */
.circle{
    position: absolute;
    top: -30px;
    right: -20px;
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .circle_mouseenter {
    animation: moveCircle1 2000ms ease-in-out;
  }
  .circle_mouseleave {
    animation: moveCircle2 2000ms ease-in-out;
  }
  @keyframes moveCircle1 {
    0% {
      transform: translate(0,0);
    }
    5% {
      transform: translate(12px, 0);
    }
    10% {
      transform: translate(33px, 0);
    }
    15% {
      transform: translate(45px, 0);
    }
    20% {
      transform: translate(45px, 12px);
    }
    25% {
      transform: translate(45px, 24px);
    }
    30% {
      transform: translate(45px, 36px);
    }
    35% {
      transform: translate(45px, 48px);
    }
    40% {
      transform: translate(45px, 65px);
    }
    45% {
      transform: translate(0px, 65px);
    }
    50% {
      transform: translate(-100px, 65px);
    }
    55% {
      transform: translate(-140px, 65px);
    }
    60% {
      transform: translate(-155px, 65px);
    }
    65% {
      transform: translate(-155px, 30px);
    } 
    75% {
      transform: translate(-155px,0);
    } 
    80% {
      transform: translate(-140px,0);
    } 
    85% {
      transform: translate(-120px,0);
    } 
    90% {
      transform: translate(-80px,0);
    } 
    95% {
      transform: translate(-40px,0);
    } 
    100% {
      transform: translate(0,0);
    } 
  }
  @keyframes moveCircle2 {
    0% {
      transform: translate(0,0);
    } 
    5% {
      transform: translate(-40px,0);
    } 
    10% {
      transform: translate(-80px,0);
    } 
    15% {
      transform: translate(-120px,0);
    } 
    20% {
      transform: translate(-160px,0);
    }
    25% {
      transform: translate(-200px,0);
    }
    30% {
      transform: translate(-240px, 0);
    } 
    35% {
      transform: translate(-240px, 30%);
    } 
    40% {
      transform: translate(-240px, 60px);
    }
    45% {
      transform: translate(-180px, 60px);
    }
    50% {
      transform: translate(-100px, 60px);
    }
    55% {
      transform: translate(0px, 60px);
    }
    60% {
      transform: translate(50px, 60px);
    }
    65% {
      transform: translate(50px, 48px);
    }
    70% {
      transform: translate(50px, 36px);
    }
    75% {
      transform: translate(50px, 24px);
    }
    80% {
      transform: translate(50px, 12px);
    }
    85% {
      transform: translate(50px, 0);
    }
    90% {
      transform: translate(33px, 0);
    }
    95% {
      transform: translate(12px, 0);
    }
    100% {
      transform: translate(0,0);
    }
  }
  
  /* My */
/* Button Special End */
/* About Start */
.about{
    padding: 0 140px;
}
.about_content{
    padding: 0;
}
.about_content_left{
    padding: 200px 33px;
    font-size: 21px;
    color: #404343;
}
.about_content_center{
    padding-top: 50px;
    width: 100%;
}
.about_content_center > img {
    width: 100%;
}
.about_content_right{
    padding: 200px 33px;
    font-size: 21px;
    color: #404343;
}
.about_content_parag{
    margin-bottom: 50px;
    text-align:justify;  
    text-justify:inter-word;
}
@media only screen and (max-width:1450px){
    .about{
        padding: 0 50px;
    }
    .about_content_left{
        padding: 0px 20px;
        width: 100%;
    }
    .about_content_center{
        padding-top: 100px;
    }
    .about_content_right{
        padding: 0px 50px;
        width: 100%;
    }
}
@media only screen and (max-width:1050px){
    .about{
        padding: 0 20px;
    }
    .about_content_left{
        padding: 50px 10px;
        width: 100%;
    }
    .about_content_center{
        padding-top: 100px;
    }
    .about_content_right{
        padding: 50px 10px;
        width: 100%;
    }
}
/* About End */
/* Our Blog Start */
.our_blog{
    position:relative;
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 800px;   
    padding: 150px 0;
    margin: 100px 0;
    overflow: visible;
}
.our_blog_left{
    position: absolute;
    left:0;
    top:0;
    max-width:55%;
    width: 100%;
    height: 950px;
    background-color: #686350;
    color: white;
    padding: 100px;
    padding-left: 140px;
    z-index:99;
}
.our_blog_left_action{
    padding-top:50px;
    font-size: 25px;
}
.our_blog_left_title{
    font-size: 60px;
    letter-spacing:5px;
    margin-bottom: 100px;
}
.our_blog_left_parag{
    font-size: 21px;
    max-width: 750px;
    margin-bottom: 100px;
    text-align:justify;  
    text-justify:inter-word;
}
.our_blog_right{
    position: absolute;
    top: -50px;
    right:0;
    width:50%;
    z-index:100;
}
.our_blog_right_image > img {
    width: 100%;
}
.our_blog_right_box_border{
    position: absolute;
    top:50px;
    right:100px;
    width: 800px;
    height: 800px;
    border: 1px solid white;
    transform: rotateY(0deg) rotate(45deg);
    z-index:101;
}
@media only screen and (max-width:1800px){
    .our_blog_left{
        max-width:55%;
        height: 900px;
        padding: 80px;
        width: 100%;
    }
    .our_blog_right_box_border{
        right:80px;
        width: 600px;
        height: 600px;
    }
}
@media only screen and (max-width:1650px){
    .our_blog_left{
        max-width:55%;
        height: 800px;
        padding: 80px;
        width: 100%;
    }
    .our_blog_right_box_border{
        
        width: 500px;
        height: 500px;
    }
    .our_blog_right{
        top: -50px;
        right:0;
        width:50%;
    }
    .our_blog_left_title{
        font-size: 40px;
        letter-spacing:2px;
        margin-bottom: 50px;
    }
    .our_blog_left_parag{
        font-size: 16px;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width:1450px){
    .our_blog_left{
        max-width:55%;
        height: 800px;
        padding: 80px;
        width: 100%;
    }
    .our_blog_right_box_border{
        top:100px;
        width: 400px;
        height: 400px;
    }
    .our_blog_right{
        top: 50px;
        right:0;
        width:50%;
    }
    .our_blog_left_title{
        font-size: 40px;
        letter-spacing:2px;
        margin-bottom: 50px;
    }
    .our_blog_left_parag{
        font-size: 16px;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width:1000px){
    .our_blog{
        flex-wrap: wrap;
        margin-bottom: 1000px ;
    }
    .our_blog_left{
        flex: 1;
        min-width: 100%;
        height: auto;
        width: 100%;
        padding:60px 20px;
        margin-bottom:80px;
    }
    .our_blog_right{
        top: 120%;
        width: 100%;
    }
    .our_blog_right_box_border{
        top: 120%;
        width: 600px;
        height: 600px;
    }
    .our_blog_left_action{
        padding-top:50px;
        font-size: 25px;
    }
    .our_blog_left_title{
        font-size: 60px;
        letter-spacing:5px;
        margin-bottom: 100px;
    }
    .our_blog_left_parag{
        font-size: 21px;
        max-width: 600px;
        margin-bottom: 100px;
    }
    .our_blog_left > .btn_style {
        margin-bottom: 50px;
    }
}

/* Our Blog End */
/* Gallery Start */
.gallery_swiper{ 
    padding: 0px 140px;
}
.swiper-slide-gallery{
    margin: 0 !important;
}
.title_section_gallery{
    padding-top: 130px ;
}
.gallery_item_pair{
    position:relative;
    padding: 20px 4px;
    padding-bottom:50px;
    padding-top: 50px;
    margin-bottom:100px;
}
.gallery_item_pair_image{
    overflow: hidden;
}
.gallery_item_impair{
    padding-left: 4px;
    padding-right: 4px;
}
.gallery_item_pair_image > img{
    width: 100%;
    transition: all 0.8s ease-in-out;
}
.gallery_item_pair_image > img:hover{
    /* transform: scale(1.05); */
    transform: matrix(1.05, 0, 0, 1.05, 5, 5);
}
.gallery_item_impair_image{
    overflow: hidden;
}
.gallery_item_impair_image > img{
    width: 100%;
    transition: all 0.8s ease-in-out;
}
.gallery_item_impair_image > img:hover{
    /* transform: scale(1.05); */
    transform: matrix(1.05, 0, 0, 1.05, 5, 5);
}
.gallery_item_box{
    position:absolute;
    bottom:-100px;
    left:0;
    transform: translateY(0%);
    background-color: #FFFFFF;
    padding:10px;
    padding-left: 20px;
    padding-right: 100px;
}
.gallery_item_box_date{
    color: #D18F4E;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
}
.gallery_item_box_title{
    color: #404343;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
}
.swiper-pagination-gallery{
    bottom:0;
}
@media only screen and (max-width:992px){
    .gallery_item_box{
        padding:5px;
        padding-left: 10px;
        padding-right: 50px;
    }
    .gallery_item_box_date{
        font-size: 16px;
    }
    .gallery_item_box_title{
        font-size: 18px;
    }
}
@media only screen and (max-width:767px){
    .gallery_item_box_date{
        font-size: 25px;
    }
    .gallery_item_box_title{
        font-size: 30px;
    }
}
@media only screen and (max-width:600px){
    .gallery{
        margin-top: -400px;
    }
}
/* Gallery End */
/* event_1 Start */
.event_1{
    background-image: url('../images/hero3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    position: relative;
    height:971px;
}
.event_content_1{
    position:absolute;
    background-color: #5A4E38;
    top: 35%;
    transform: translateY(-50%);
    left: 10%;
    color: white;
    padding: 37px 33px;
}
.event_content_1 > h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: Dolce ;
}
.event_content_1 > p {
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    max-width:536px;
    text-align:justify;  
    text-justify:inter-word;
}
@media only screen and (max-width:1650px){
    .event_1{
        height:600px;
    }
}
@media only screen and (max-width:1050px){
    .event_1{
        height:500px;
    }
    .event_content_1{
        padding-left:20px ;
        padding-top:40px ;
        padding-right:60px ;
        padding-bottom: 20px;
    }
    .event_content_1 > h2 {
        font-size: 25px;
    }
    .event_content_1 > p {
        font-size: 16px;
    }
}
@media only screen and (max-width:767px){
    .event_1{
        height:400px;
    }
    .event_content_1{
        left: 2%;
        padding-left:20px ;
        padding-top:30px ;
        padding-right:20px ;
        padding-bottom: 20px;
    }
    .event_content_1 > h2 {
        font-size: 25px;
    }
    .event_content_1 > p {
        font-size: 16px;
    }
}
/* event_1 End */
/* History Start */
.history{
    padding:0px 110px;
    padding-bottom:100px;
}
.history_parag{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    padding-bottom: 80px;
}
.history_parag > p {
    font-size: 21px;
    font-weight: 400;
    text-align:center;  
    text-justify:inter-word;
    max-width: 720px;
}
.history_content_left{
    border-right: 2px solid #D18F4E;
    padding: 0 100px;
}
.history_content_image{
    padding: 100px;
    padding-top: 0;
}
.history_content_image1{
    padding-left: 0px !important;
}
.history_content_image2{
    padding-right: 0px !important;
    margin-top: 100px;
    padding-bottom: 0 !important;
}
.history_content_image > img {
    width: 100%;
}
.history_content_right{
    padding: 0 100px;
}
.history_content_left{
    padding: 0 100px;
}
.history_content_parag{
    padding: 0 100px;
    padding-bottom: 100px;
    padding-left: 285px ;
}
.history_content_parag_date {
    color: #511F10;
    font-size: 40px;
    font-weight: 400;
}
.history_content_parag_action {
    color: #D18F4E;
    font-size: 30px;
    font-weight: 400;
}
.history_content_parag_title {
    color: #6F080C;
    font-size: 50px;
    font-weight: 500;
}
.history_content_parag_parag{
    color: #404343;
    font-size: 21px;
    font-weight: 400;
    max-width: 550px;
    margin-bottom: 50px;
    text-align: justify;
    text-justify:inter-word;
}
.history_content_parag2{
    padding: 0 ;
    padding-right: 273px;
    
}
.history_content_parag_date_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 200px;
    margin-right: -21px;
}
.history_content_parag_date_left > p {
    color: #511F10;
    font-size: 40px;
    font-weight: 400;
    padding: 0 20px;
}
.history_content_parag_date_left > hr {
    border: 1px solid #D18F4E;
    width: 268px;
}
.history_content_parag_date_circle {
    height: 18px;
    width: 18px;
    background-color: #D18F4E;
    border-radius: 50%;
    display: inline-block;
}
.history_content_right > .history_content_parag{
    padding-left: 200px;
}
.history_content_parag_date_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 200px;
    margin-left: -21px;
}
.history_content_parag_date_right > p {
    color: #511F10;
    font-size: 40px;
    font-weight: 400;
    padding: 0 20px;
}
.history_content_parag_date_right > hr {
    border: 1px solid #D18F4E;
    width: 265px;
}
@media only screen and (max-width:1650px){
    .history{
        padding:50px 50px;
    }
    .history_content_image{
        padding: 50px;
    }
    .history_content_parag{
        padding: 0 50px;
    }
    .history_content_right > .history_content_parag{
        padding-left: 100px;
    }
    .history_content_parag_date_left > hr {
        width: 100px;
    }
    .history_content_parag_date_right > hr {
        width: 100px;
    }
}
@media only screen and (max-width:1050px){
    .history{
        padding:50px 20px;
    }
    .history_parag > p{
        padding:0;
    }
    .history_content_image{
        padding: 20px;
    }
    .history_content_parag{
        padding: 0 20px;
    }
    .history_content_right > .history_content_parag{
        padding-left: 50px;
    }
    .history_content_parag_date_left > hr {
        width: 50px;
    }
    .history_content_parag_date_right > hr {
        width: 50px;
    }
}
@media only screen and (max-width:767px){
    .history_content_left{
        margin:0;
        border-bottom: 2px solid #D18F4E;
    }
    .history_content_right{
        margin:0;
        border-left: 2px solid #D18F4E;
    }
    .history_content > .row{
        padding: 0;
    }
}
/* History End */
/* Testimonial Start */
.testimonial{
    padding: 100px;
}
.testimonial_icon{
    width: 100%;
    text-align: center;
}
.testimonial_icon > img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.testimonial_swiper{
    padding: 0 20%;
}
.testimonials_swiper_item{
    padding: 30px;
    padding: 0 50px;
    margin-bottom:100px;
    cursor: pointer;
}
.testimonials_swiper_item_parag{
    text-align: center;
    max-width: 800px;
    font-size: 21px;
    font-weight:400;
    margin:50px auto;
}
.testimonials_swiper_item_name{
    text-align: center;
    font-size: 25px;
    font-weight:bold;
    color: #D18F4E;
    margin-bottom: 0px;
}
.testimonials_swiper_item_purpose{
    text-align: center;
    font-size: 21px;
    font-weight:500;
    color: #D18F4E;
    margin-bottom: 40px;
}
.swiper-container-horizontal > .swiper-pagination-bullets{
    margin-top: 50px !important;
}
.swiper_wrapper_testimonial{
    height: 400px !important;
}
@media only screen and (max-width:1650px){
    .testimonial{
        padding: 50px;
    }
    .testimonial_swiper{
        padding: 0 10%;
    }
    .testimonials_swiper_item_parag{
        font-size: 16px;
        margin:50px auto;
    }
    .testimonials_swiper_item_name{
        font-size: 20px;
    }
    .testimonials_swiper_item_purpose{
        font-size: 16px;
    }
}
@media only screen and (max-width:1050px){
    .testimonial{
        padding: 0px;
    }
    .testimonial_icon > img {
        width: 50px;
        height: 50px;
    }
    .testimonial_swiper{
        padding: 0 2%;
    }
    .testimonials_swiper_item_parag{
        font-size: 16px;
        margin:30px auto;
    }
    .testimonials_swiper_item_name{
        font-size: 20px;
    }
    .testimonials_swiper_item_purpose{
        font-size: 16px;
    }
}
.swiper-button-prev-testimonial{
    padding-left: 0px !important;
}
.swiper-button-next-testimonial{
    padding-right: 0px !important;
}
.swiper-button-prev-testimonial,
.swiper-button-next-testimonial{
    top: 30% !important;
}
.swiper-button-prev-testimonial:after,
.swiper-button-next-testimonial:after{
    /* font-size: 12px !important; */
    transform: scale(1.4) !important;
    width: 200px !important;
}
/* Testimonial End */
/* event_2 Start */
.event_2{
    background-image: url('../images/IMG_2477.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    position: relative;
    height:800px;
}
.event_content_2{
    position:absolute;
    background-color: #2B2E1D;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    color: white;
    padding-left:50px ;
    padding-top:50px ;
    padding-right:200px ;
    padding-bottom: 50px;
}
.event_content_2 > h2 {
    font-family: Dolce;
    font-size: 30px;
    font-weight: 600;
}
.event_content_2 > p {
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}
@media only screen and (max-width:1650px){
    .event_2{
        height:600px;
    }
}
@media only screen and (max-width:1050px){
    .event_2{
        height:500px;
    }
    .event_content_2{
        padding-left:20px ;
        padding-top:40px ;
        padding-right:100px ;
        padding-bottom: 20px;
    }
    .event_content_2 > h2 {
        font-size: 25px;
    }
    .event_content_2 > p {
        font-size: 16px;
    }
}
@media only screen and (max-width:767px){
    .event_2{
        height:400px;
    }
    .event_content_2{
        right: 2%;
        padding-left:20px ;
        padding-top:30px ;
        padding-right:80px ;
        padding-bottom: 20px;
    }
    .event_content_2 > h2 {
        font-size: 25px;
    }
    .event_content_2 > p {
        font-size: 16px;
    }
}
/* event_2 End */
/* Latest Blog Start */
.blog{
    background-color: #F7F7F7;
    width: 100%;
}
.blog_section{
    padding:50px 140px;
    width:100%;
}
.blog_1{
    position: relative;
    margin:10px auto;
    margin-bottom: 250px;
    padding:0 100px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    cursor: pointer;
}
.blog_bg{
    width:100%;
    overflow: hidden;
}
.blog_bg > img{
    width:100%;
    transition: all 0.6s ease-in-out;
}
.blog_bg > img:hover{
    transform: matrix(1.05, 0, 0, 1.05, 15, 5);
}
.blog_content{
    position:absolute;
    bottom:-100px;
    left:0;
    transform: translateY(0%);
    background-color: #F7F7F7;
    padding:10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 200px;
}
.blog_content_date{
    font-family: Dolce;
    text-transform: uppercase;
    color: #D18F4E;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 5px;
}
.blog_content_title{
    font-family: Dolce;
    text-transform: uppercase; 
    color: #757979;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 5px;
}
.blog_content_more{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
}
.blog_content_more_left_line{
    position: relative;
    width:68px;
    margin-right: 20px;
}
.blog_content_more_left_line1{
    position: absolute;
    top: -15px;
    border:1px solid #D18F4E;
    width:100%;
    transition: 0.5s ease-in-out;
}
.blog_content_more_left_line2{
    position: absolute;
    top: -15px;
    transform: translateX(-100px);
    border:none;
    opacity: 0;
    width:100%;
    transition: 0.5s ease-in-out;
}
.blog_content_more > a {
    text-decoration:none !important;
    color: #404343;
    font-size:21px;
    font-weight: 700;
}
.blog_content_more:hover > a {
    color: #404343;
}
.blog_content_more:hover .blog_content_more_left_line1{
    transform: translateX(100px);
    opacity: 0;
    border:none;
}
.blog_content_more:hover .blog_content_more_left_line2{
    transform: translateX(0px);
    border:1px solid #D18F4E;
    opacity: 1;
}
@media only screen and (max-width:1650px){
    .blog_content{
        padding:10px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 150px;
    }
}
@media only screen and (max-width:1550px){
    .blog_content{
        padding:10px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 100px;
    }
}
@media only screen and (max-width:1350px){
    .blog_content{
        padding:10px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 30px;
    }
    .blog_content_date{
        font-size: 18px;
    }
    .blog_content_title{
        font-size: 21px;
    }
}
@media only screen and (max-width:992px){
    .blog_content{
        padding:10px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 200px;
    }
    .blog_content_date{
        font-size: 25px;
    }
    .blog_content_title{
        font-size: 30px;
    }
}
@media only screen and (max-width:650px){
    .blog_section{
        padding:50px 50px;
        padding-bottom: 200px;
        width:100%;
    }
    .blog_1{
        padding:0 50px;
    }
    .blog_content{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 100px;
    }
    .blog_content_date{
        font-size: 16px;
    }
    .blog_content_title{
        font-size: 20px;
    }
    .blog_content_more > a {
        font-size:16px;
    }
}
/* Latest Blog End */
/* Swiper Start */
.swiper-pagination{
    bottom: 70px !important;
}
.swiper_container{
    margin-bottom: 0 !important;
}
.swiper-container-museum {
    width: 100%;
    margin: 20px 0;
    min-height:900px;
}
.swiper-pagination-museum{
    margin-top: 50px;
}
.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    color: #D18F4E !important;
} 
.swiper-pagination-bullet-active{
    width: 15px !important;
    height: 15px !important;
    color: #D18F4E !important;
}
.swiper-button-prev{
    padding-left: 140px;
}
.swiper-button-next{
    padding-right: 140px;
}
@media only screen and (max-width:1650px){
    .swiper-button-prev{
        padding-left: 20px;
    }
    .swiper-button-next{
        padding-right: 20px;
    }
}
/* Swiper End */
/* Museum Start */
.shop{
    height: 990px;
}
.shop > .shop_swiper{
    width:100%;
    padding: 0 140px;
    height: 800px !important;
}
.shop > .shop_swiper > .swiper-container > 
.swiper-wrapper > .swiper-slide{
    padding: 20px 8px !important;
}
.shop_swiper_item{
    padding-bottom:50px;
}
.shop_swiper_item_img{
    position: relative;
}
.shop_swiper_item_img > img {
    width:100% !important;
}
.shop_swiper_item_img > img:hover ~ .purchase_box_museum{
    display: block;
}
.purchase_box_museum{
    position: absolute;
    display: none;
    background-color: white;
    width: 70%;
    height: 70%;
    top:50%;
    left:45%;
    transform: translate(-50%, -50%);
    padding: 100px 50px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.purchase_box_museum > button{
    color: #6F080C;
    border: 1px solid #6F080C;
}
.shop_swiper_item_title {
    font-family: Dolce;
    text-align: center;
    font-size: 30px;
    font-weight: 600px;
    color: #404343;
    padding-top: 30px;
}
.shop_swiper_item_price{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 800px;
    color: #6F080C;
}
.swiper_pagination_shop{
    margin-bottom: 190px !important;
}
@media only screen and (max-width:767px){
    .shop > .shop_swiper{
        padding: 0 20px;
    }
}
/* Museum End */
/* Newsletter Start */
.newsletter{
    position:relative;
    margin-bottom: 0px;
}
.newsletter_bg{
    width: 100%;
}
.newsletter_bg > img {
    width: 100%;
}
.newsletter_box{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    background-color: #686350;
    text-align: center;
    color: white;
    padding: 30px 100px;
    min-width:1000px;
}
.newsletter_box > p{
    font-size:25px;
    line-height:1;
    letter-spacing: 2px;
}
.newsletter_box > h2{
    font-size:50px;
    margin-bottom: 50px;
    letter-spacing: 8px;
}
.newsletter_box_form{
    width:100%;
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.newsletter_box_form > input{
    background-color: transparent;
    flex: 75%;
    color: white;
    border:1px solid white;
    font-size:21px;
    padding: 15px;
    outline: none;
    margin-right: 20px;
}
.newsletter_box_form > button {
    flex: 25%;
}
@media only screen and (max-width:1200px ){
    .newsletter_box{
        min-width:500px;
    }
    .newsletter_box > p{
        font-size:16px;
    }
    .newsletter_box > h2{
        font-size:30px;
        margin-bottom: 30px;
    }
    .newsletter_box_form{
        margin-bottom: 30px;
    }
    .newsletter_box_form > input{
        font-size:16px;
        padding: 10px;
    }
    .newsletter_box_form > button{
        font-size:16px;
    }
}
@media only screen and (max-width:767px ){
    .newsletter_box{
        bottom: -200px;
        left: 0%;
        transform: translateX(0%);
        width: 100%;
        padding: 30px 50px;
    }
    .newsletter_box > p{
        font-size:16px;
    }
    .newsletter_box > h2{
        font-size:30px;
        margin-bottom: 30px;
    }
    .newsletter_box_form{
        margin-bottom: 30px;
    }
    .newsletter_box_form > input{
        font-size:16px;
        padding: 10px;
    }
    .newsletter_box_form > button{
        font-size:16px;
    }
}
/* Newsletter End */
/* Footer Start*/
.footer{
    padding:60px;
    background-color:#2B2E1D;
    color:white;
}
.footer > .row {
    padding: 0 10px;
}
.footer_section{
    padding-left: 100px !important;
}
.footer_section > h2{
    font-size: 30px;
    margin-bottom:30px;
    font-weight: 600;
}
.footer_section > div {
    padding: 10px;
}
.footer_section > div > p{
    font-size: 21px;
    font-weight: 400;
    line-height:1;
}
.footer_1{
    max-width: 310px;
}
.footer_1 > img{
    height: 86px;
}
.footer_1 > p{
    font-size: 21px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 3px;
}
.footer_4 > div {
    padding-left: 0px;

}
.footer_4 > div > img{
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-right: 40px;
    margin-left: -5px;
}
.last_text{
    font-family: Poppins;
    text-align: center;
    font-size: 21px;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: 400;
}
@media only screen and (max-width:1566px){
    .footer_section{
        padding-left: 50px !important;
    }
    .footer > .row {
        padding: 0 20px;
    }
}
@media only screen and (max-width:1310px){
    .footer_section{
        padding-left: 50px !important;
    }
    .footer > .row {
        padding: 0 10px;
    }
    .footer_section > h2{
        font-size: 20px;
        font-weight: 400;
    }
    .footer_section > div > p{
        font-size: 16px;
        line-height:1;
    }
    .footer_1 > img{
        height: 50px;
    }
    .footer_1 > p{
        font-size: 16px;
    }
    .footer_section > h2{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .last_text{
        font-size: 14px;
    }
}
/* Footer End*/
/* Header Media query */
@media only screen and (max-width:1200px ){
    .gallery_swiper{ 
        padding: 100px 70px;
    }
    .title_section > p{
        font-size:18px;
    }
    .title_section_line1 > hr {
        width: 100px;
    }
    .title_section_center1 > h2{
        font-size:30px;
        padding: 0 20px;
    }
    .title_section_line > hr {
        width: 100px;
    }
    .title_section_center > h2{
        font-size:30px;
        padding: 0 20px;
    }
    .btn_style{
        padding: 10px 30px;
        font-size: 18px;
        width: 180px;
        height: 60px;
    }
}
@media only screen and (max-width:767px ){
    .gallery_swiper{ 
        padding: 50px 20px;
    }
    .gallery_item_box_date{

    }

    .title_section > p{
        font-size:16px ;
    }
    .title_section_line1 > hr {
        width: 80px ;
    }
    .title_section_center1 > h2{
        font-size:16px ;
    }
    .title_section_line > hr {
        width: 80px ;
    }
    .title_section_center > h2{
        font-size:30px ;
    }
    .btn_style{
        padding: 10px 20px;
        font-size: 16px;
        width: 160px;
        height: 60px;
    }
}
/* Header Media query */